@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-size: 1.5rem;
  background-color: #fbf9fa;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
}

p {
  line-height: 2rem;
}

a {
  text-decoration: none;
  font-size: 1rem;
}

.container-fluid {
  padding: 0 10%;
  margin: 1.8rem 0;
}


.btn-outline-dark{
  width: 33%;
  font-size: 3rem;
  margin: 1.2rem 0;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    h1 {
      font-size: 3.5rem;
    }

    .btn-outline-dark{
      width: 75%;
      font-size: 2rem;
    }
}
