@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Colour Palette: https://colorpalettes.net/color-palette-1358/ */
body {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-size: 1.5rem;
  background-color: #fbf9fa;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.8rem;
  margin: 2rem auto 1rem;
  font-weight: bold;
}

p {
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #6b818d;
}

li {
  margin: 0.5rem 0.25rem;
}

img {
  width: 80%;
}

.container-fluid {
  padding: 0 20%;
  margin: 1rem 0 4rem;
}

/* Navbar Styles */
.navbar {
  padding: 1rem 5%;
  background-color: #b1c2cf;
}

.navbar-toggler {
  font-size: 1.5rem;
  border: none;
  padding: 0;
}

.navbar-brand {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 0.25rem;
}

.dropdown-content {
  font-size: 1.4rem;
}

.nav-container {
  padding: 0;
  margin: 0;
}

/* Video */
.video {
  text-align: center;
  margin: 2rem;
}

/* Buttons */
.play-btn {
  text-align: center;
}

.btn {
  font-size: 1.5rem;
  text-align: center;
  width: 33%;
}

.btn-outline-dark {
  border: 1px solid #6b818d;
  background-color: #fbf9fa;
}

.btn-outline-dark:hover {
  border: 1px solid #6b818d;
  background-color: #6b818d;
}

/* Images */
.image-div {
  text-align: center;
  width: auto;
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  img {
    width: 100%;
  }

  .navbar {
    padding: 0.7rem 5%;
  }

  .navbar-toggler {
    font-size: 2rem;
  }

  .nav-item {
    padding: 0 5px;
  }

  .nav-link {
    font-size: 1.5rem;
    text-decoration: none;
  }

  .btn {
    font-size: 2.5rem;
  }

  .image-div {
    width: 100%;
    margin: auto 0;
  }

  .phishing-example {
    width: 100%;
  }
}
