@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-size: 1.5rem;
  background-color: #fbf9fa;
  line-height: 2rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
  font-weight: bolder;
  margin-top: 2.5rem;
}

br {
  display: block;
  margin: 1rem 0;
}

a {
  text-decoration: none;
  color: #6b818d;
  font-weight: bold;
}

hr.gradient {
  border: 0;
  height: 3px;
  margin: 2rem auto;
  width: 50%;
}

li {
  margin: 0.5rem 0.25rem;
}

img {
  width: 80%;
}

.container-fluid {
  padding: 0 10%;
  margin: 1rem 0 2%;
}

/* Navbar Styles */
.navbar {
  padding: 0.7rem 3%;
  background-color: #b1c2cf;
}

.navbar-brand {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.navbar-toggler {
  font-size: 1.4rem;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-weight: 200;
  text-decoration: none;
}

.dropdown-content {
  font-size: 1.5rem;
}

.nav-container {
  padding: 0;
  margin: 0;
}

/* Introduction */
.introduction-image {
  display: block;
}

.introduction-content {
  width: 100%;
  padding: 0;
}

.introduction-image {
  width: auto;
}

.video {
  text-align: center;
}

/* Body Images */
.image-div {
  text-align: center;
}

/* Quiz */
.play-btn {
  text-align: center;
}

.btn {
  font-size: 1.5rem;
  width: 20%;
  margin: 2rem 0 0;
}

.btn-dark {
  background-color: #b1c2cf;
  color: black;
}

.btn-dark:hover {
  background-color: #6b818d;
}

/* References */
.references {
  margin-bottom: 10%;
}

.reference-div {
  width: 50%;
}

/* Social Engineering */
.phishing-email{
  text-align: center;
}

.phishing-example{
  width: 50%;
  margin: 0 0 1.5rem;
  padding: 0;
}

.modal-btn{
  margin: 0;
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }

  br {
    margin: 2rem 0;
  }

  .navbar {
    padding: 0.7rem 5%;
  }

  .navbar-toggler {
    font-size: 2rem;
  }

  .nav-item {
    padding: 0 5px;
  }

  .nav-link {
    font-size: 1.5rem;
    text-decoration: none;
  }

  .btn {
    font-size: 2.5rem;
  }

  .phishing-example{
    width: 100%;
  }
}
