@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Colour Palette: https://colorpalettes.net/color-palette-1358/ */
body {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-size: 1.5rem;
  background-color: #fbf9fa;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: bolder;
  margin-top: 2.5rem;
}

p {
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #6b818d;
  font-weight: bold;
}

br {
  display: block;
  margin: 0.7rem 0;
}

hr.gradient {
  border: 0;
  height: 3px;
  margin: 2rem auto;
  width: 50%;
  background-image: linear-gradient(to right, transparent, #002366, transparent);
}

.container-fluid {
  padding: 0 10%;
  margin: 1rem 0;
}

/* Navbar Styles */
.navbar {
  padding: 0.7rem 3%;
  background-color: #b1c2cf;
}

.navbar-toggler {
  font-size: 1.4rem;
}

.navbar-brand {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-weight: 200;
  text-decoration: none;
}

.dropdown-content {
  font-size: 1.5rem;
}

.nav-container {
  padding: 0;
  margin: 0;
}

/* Introduction Box */
.introduction {
  margin: 1rem 0 2rem;
}

.introduction-title {
  padding: 0;
  margin-bottom: 1rem;
}

/* Topics */
.topics {
  margin: 1rem 0;
}

.topics-title {
  padding: 0;
  margin-bottom: 1rem;
}

.topics-row {
  padding: 0;
}

.card {
  margin: 1rem 0 1rem;
  border-color: black;
  background-color: #fbf9fa;
  width: 46%;
}

.card-header {
  background-color: #fbf9fa;
  border: none;
  margin: 0.7rem 0 0;
  padding: 0;
  font-size: 150%;
  font-weight: bold;
}

.card-text {
  padding: 0 1rem;
  margin: 0;
  text-align: justify;
}

.card-footer {
  border: none;
  margin: 0 0 0.5rem;
  padding-top: 0;
  background-color: #fbf9fa;
}

.btn {
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
}

.btn-dark {
  background-color: #b1c2cf;
  color: black;
}

.btn-dark:hover {
  background-color: #6b818d;
}

/* Other References */
.other-references {
  margin-bottom: 10%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 3.2rem;
  }

  .navbar {
    padding: 0.7rem 5%;
  }

  .navbar-toggler {
    font-size: 2rem;
  }

  .nav-item {
    padding: 0 5px;
  }

  .nav-link {
    font-size: 1.5rem;
    text-decoration: none;
  }

  .card {
    margin: 1rem 0 1rem;
    width: 100%;
  }
}
