@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-size: 1.5rem;
  background-color: #fbf9fa;
}

h1{
  font-size: 4.5rem;
}

p {
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #6b818d;
  font-weight: bold;
}

br {
  display:block !important;
  margin: 0.7rem 0;
}

hr.gradient {
  border: 0;
  height: 3px;
  margin: 2rem auto;
  width: 50%;
  background-image: linear-gradient(to right, transparent, #002366, transparent);
}

.container-fluid {
  padding: 0 10%;
  margin: 1rem 0;
}

/* Navbar Styles */
.navbar {
  padding: 0.7rem 3%;
  background-color: #e3e2da;
}

.navbar-brand {
  font-size: 1rem;
  font-weight: 400;
}

.nav-item {
  padding: 0 5px;
}

.nav-link {
  font-weight: 200;
  text-decoration: none;
}

.dropdown-content {
  font-size: 1.5rem;
}

.nav-container {
  padding: 0;
  margin: 0;
}

/* Introduction Box */
.introduction {
  margin: 1rem 0 2rem;
}

.introduction-title {
  padding: 0;
  margin-bottom: 2rem;
}

/* Topics */
.topics {
  margin: 1rem 0 2rem;
}

.topics-title{
  padding: 0;
  margin-bottom: 2rem;
}

.topics-row {
  padding: 0;
}

.card {
  margin: 1rem 0 1rem;
  border-color: black;
  background-color: #fbf9fa;
  width: 46%;
}

.card-header{
  background-color: #fbf9fa;
  border: none;
  margin: 0;
  padding-bottom: 0;
  font-size: 150%;
  font-weight: bold;
}

.card-text{
  padding: 0 1rem;
  margin: 0;
}

.card-footer{
  border: none;
  margin: 0;
  padding-top: 0;
  background-color: #fbf9fa;
}

.btn {
  font-size: 1.3rem;
}

/* Other References */
.other-references{
  margin-bottom: 10%;
}
