:root{
  text-align: left;
}

h1 {
  font-size: 5rem;
  color: #216bad;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 0;
  line-height: 2.5rem;
}

.container {
  width: 80%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}
.button {
  font-size: 2rem;
  padding: 1rem 0;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  width: 25rem;
  text-align: center;
  border: 0.2rem solid #216bad;
  text-decoration: none;
  color: #216bad;
  background-color: white;
}

.explanation-container{
  height: auto;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgb(86, 165, 235, 1);
  background-color: white;
}

.choice-prefix {
  padding: 1.5rem 2.5rem;
  background-color: #56a5eb;
  color: white;
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
}

.correct {
  background-color: #28a745;
  color: white;
}

.explanation {
  margin: 2rem 0 1rem;
}

.review-desc {
  margin-bottom: 1.75rem;
}

hr.gradient {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #000, transparent);
  margin: 2rem;
}
